<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.winision.velammalitapp">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".Offline"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login" />
        <activity android:name=".register_students" />
        <activity android:name=".register_staffs" />
        <activity android:name=".Timeline" />
        <activity android:name=".profileInfo" />
        <activity android:name=".searchMembers" />
        <activity android:name=".frdProfile_Req" />
        <activity android:name=".frdsList" />
        <activity
            android:name=".TimelinePosts"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainPage"
            android:label="@string/title_activity_main_page"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".memberProfile" />
        <activity android:name=".MemberProfile" />
        <activity android:name=".PostBrief" />
        <activity android:name=".StudyMat_Upload" />
        <activity android:name=".Resume" />
        <activity android:name=".ResumeViewing" />
        <activity
            android:name=".Students_Login"
            android:label="@string/title_activity_students__login" />
        <activity android:name=".Student_Settings" />
        <activity android:name=".Forgot_Password" />
        <activity android:name=".studyList" />
        <activity android:name=".Staffs_Timeline" />
        <activity android:name=".About_Clg" />
        <activity android:name=".CSE" />
        <activity android:name=".FacultyCode" />
        <activity android:name=".AboutECE"></activity>
    </application>

</manifest>